{% load static i18n %}
{% load analytical %}
{% get_current_language as LANGUAGE_CODE %}
<!doctype html>
<html class="no-js" dir="{{LANGUAGE_DIRECTION}}" lang="{{LANGUAGE_CODE}}">
<head>
    {% analytical_head_top %}
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>{% block title %} {% endblock %} | eTabib</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
    <!-- favicon ============================================ -->
    <link rel="shortcut icon" type="image/x-icon"
          href='{% static "img/logo/logdo.png" %}'>
    <!-- notifications CSS ============================================ -->
    <link rel="stylesheet" href='{% static "css/notifications/Lobibox.min.css" %}'>
    <link rel="stylesheet" href='{% static "css/notifications/notifications.css" %}'>
    <!-- font-awesome-animation CSS ============================================ -->
    <link rel="stylesheet" href='{% static "css/font-awesome-animation.min.css" %}'>
    <!-- jquery ============================================ -->
    <script src='{% static "js/vendor/jquery-1.12.4.min.js" %}'></script>
    <!-- notification JS ============================================ -->
    <script src='{% static "js/notifications/Lobibox.js" %}'></script>
    <script>
        Lobibox.notify.DEFAULTS = $.extend({}, Lobibox.notify.DEFAULTS, {
            soundPath: "{% static 'js/notifications/sounds/' %}",
        });
    </script>
    <!-- Font driod    -->
    <link rel="stylesheet" media="screen" href="{% static 'css/fonts/droid-arabic-kufi.css' %}" type="text/css"/>
    <link href="https://fonts.googleapis.com/css?family=Cairo&display=swap" rel="stylesheet">
    {% block style %} {% endblock %}
    <!-- style CSS ============================================ -->
    <link rel="stylesheet" href='{% static "style.css" %}?v=1.28'>
    <!-- responsive CSS ============================================ -->
    <link rel="stylesheet" href='{% static "css/responsive.css" %}?v=1.22'>
    {% if LANGUAGE_CODE == 'ar' %}
    <!-- bootstrap rtl CSS ============================================ -->
    <link rel="stylesheet" href="//cdn.rawgit.com/morteza/bootstrap-rtl/v3.3.4/dist/css/bootstrap-rtl.min.css">
    <link rel="stylesheet" href="//cdn.rawgit.com/morteza/bootstrap-rtl/v3.3.4/dist/css/bootstrap-flipped.min.css">
    {% endif %}
    <link rel="stylesheet" href="{% static 'css/bootstrap-tour.min.css' %}">
    <script src='{% static "js/bootstrap-tour.min.js" %}'></script>

</head>
<body class="{% if request.COOKIES.sbc == '1' %}mini-navbar{% endif %}">
{% analytical_body_top %}
<!--[if lt IE 8]>
<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade
    your browser</a> to improve your experience.</p>
<div class="all-content-wrapper">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            </div>
        </div>
    </div>
    <div class="header-advance-area">
        {% block content %} {% endblock %}
        <!-- Content End -->
        {# bubble-decoy used by bootstrap tour #}
        <div id="bubble-decoy" class="upload  bottom  right"
             style="padding:50px;width:30px;height:30px;position: fixed;bottom: 0px;right: 0px;">
        </div>
    </div>
</div>
<!-- JavaScript Start -->
<!-- Modal -->
{% include "fm/modal.html" %}
<!-- /.modal -->
<script type="text/javascript">
    $(function() {
        $.fm({debug: true});
    });

</script>
{% block js %} {% endblock %}
<!-- JavaScript End -->
{% analytical_body_bottom %}
</body>
</html>