{% extends "base.html" %}
{% load i18n %}
{% load static %}
{% block title %} {% trans 'Documentation' %} {% endblock %}
{% block style %}
<!-- Google Fonts
                    ============================================ -->
<link
        href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,700,900"
        rel="stylesheet">
<!-- Bootstrap CSS
                    ============================================ -->
<link rel="stylesheet" href='{% static "css/bootstrap.min.css" %}'>
<!-- Bootstrap CSS
                    ============================================ -->
<link rel="stylesheet" href='{% static "css/font-awesome.min.css" %}'>
<!-- owl.carousel CSS
                    ============================================ -->
<link rel="stylesheet" href='{% static "css/owl.carousel.css" %}'>
<link rel="stylesheet" href='{% static "css/owl.theme.css" %}'>
<link rel="stylesheet" href='{% static "css/owl.transitions.css" %}'>
<!-- animate CSS
                    ============================================ -->
<link rel="stylesheet" href='{% static "css/animate.css" %}'>
<!-- normalize CSS
                    ============================================ -->
<link rel="stylesheet" href='{% static "css/normalize.css" %}'>
<!-- meanmenu icon CSS
                    ============================================ -->
<link rel="stylesheet" href='{% static "css/meanmenu.min.css" %}'>
<!-- main CSS
                    ============================================ -->
<link rel="stylesheet" href='{% static "css/main.css" %}'>
<!-- educate icon CSS
                    ============================================ -->
<link rel="stylesheet" href='{% static "css/educate-custon-icon.css" %}'>
<!-- morrisjs CSS
                    ============================================ -->
<link rel="stylesheet" href='{% static "css/morrisjs/morris.css" %}'>
<!-- mCustomScrollbar CSS
                    ============================================ -->
<link rel="stylesheet"
      href='{% static "css/scrollbar/jquery.mCustomScrollbar.min.css" %}'>
<!-- metisMenu CSS
                    ============================================ -->
<link rel="stylesheet"
      href='{% static "css/metisMenu/metisMenu.min.css" %}'>
<link rel="stylesheet"
      href='{% static "css/metisMenu/metisMenu-vertical.css" %}'>
<!-- modernizr JS
                    ============================================ -->
<script src='{% static "js/vendor/modernizr-2.8.3.min.js" %}'></script>

{% endblock %}
{% block content %}
<div class="single-pro-review-area mt-t-30 mg-b-15">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="product-payment-inner-st">
                    <h3>{% trans 'Documentations' %}</h3>
                    <div class="endless_page_template">
                        {% include page_template %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="modalYT" data-backdrop="false" tabindex="-1" role="dialog"
     aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="vertical-alignment-helper">
        <div class="modal-dialog modal-lg vertical-align-center" role="document">
            <!--Content-->
            <div class="modal-content">
                <!--Body-->
                <div class="modal-body mb-0 p-0">
                    <div class="embed-responsive embed-responsive-16by9">
                        <iframe class="embed-responsive-item"
                                width="640" height="480"
                                frameborder="0" scrolling="no" seamless=""
                                src="" id="mksgvideo"
                                allowscriptaccess="always"
                                frameborder="0"
                                allowfullscreen>
                        </iframe>
                    </div>
                </div>
                <div class="modal-footer ">
                    <button type="button" class="close"
                            data-dismiss="modal">{% trans 'Fermer' %}
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block js %}
<!-- bootstrap JS
                    ============================================ -->
<script src='{% static "js/bootstrap.min.js" %}'></script>
<!-- wow JS
                    ============================================ -->
<script src='{% static "js/wow.min.js" %}'></script>
<!-- price-slider JS
                    ============================================ -->
<script src='{% static "js/jquery-price-slider.js" %}'></script>
<!-- meanmenu JS
                    ============================================ -->
<script src='{% static "js/jquery.meanmenu.js" %}'></script>
<!-- owl.carousel JS
                    ============================================ -->
<script src='{% static "js/owl.carousel.min.js" %}'></script>
<!-- sticky JS
                    ============================================ -->
<script src='{% static "js/jquery.sticky.js" %}'></script>
<!-- scrollUp JS
                    ============================================ -->
<script src='{% static "js/jquery.scrollUp.min.js" %}'></script>
<!-- counterup JS
                    ============================================ -->
<script src='{% static "js/counterup/jquery.counterup.min.js" %}'></script>
<script src='{% static "js/counterup/waypoints.min.js" %}'></script>
<script src='{% static "js/counterup/counterup-active.js" %}'></script>
<!-- mCustomScrollbar JS
                    ============================================ -->
<script
        src='{% static "js/scrollbar/jquery.mCustomScrollbar.concat.min.js" %}'></script>
<script src='{% static "js/scrollbar/mCustomScrollbar-active.js" %}'></script>
<!-- metisMenu JS
                    ============================================ -->
<script src='{% static "js/metisMenu/metisMenu.min.js" %}'></script>
<script src='{% static "js/metisMenu/metisMenu-active.js" %}'></script>
<!-- plugins JS
                    ============================================ -->
<script src='{% static "js/plugins.js" %}'></script>
<!-- YTPlayer JS
                    ============================================ -->
<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery.mb.YTPlayer/3.2.10/jquery.mb.YTPlayer.min.js'></script>
<!-- endless pagination JS ============================================ -->
<script src='{% static "el-pagination/js/el-pagination.js" %}'></script>

<!-- main JS
                    ============================================ -->
<script src='{% static "js/main.js" %}'></script>
<!-- tawk chat JS ============================================ -->
{% include 'partial/tawk-script.html' %}
<script>
  $(document).ready(function () {
  //Endlesss pagination
		$.endlessPaginate();//Endlesss pagination
		$.endlessPaginate();

  var $videoSrc;
  $(document).on('click', '.video-btn', function() {
     $videoSrc = $(this).data("src");
  });
  $('#modalYT').on('shown.bs.modal', function (e) {
    $("#mksgvideo").attr('src', $videoSrc);
  });
  $('#modalYT').on('hide.bs.modal', function (e) {
    $("#mksgvideo").attr('src', $videoSrc);
  });
});

</script>
{% endblock %}
