{% load el_pagination_tags %}
{% paginate 18 products %}
{% show_current_number as page_number %}
<!-- BEGIN search-item-container -->
<div class="search-item-container">
    {% with cols=3 %}
    <div class="item-row">
        {% for product in products %}
        <!-- BEGIN item -->
        {% include 'partial/app-store-item.html' with product=product %}
        <!-- END item -->
        {% if forloop.counter|divisibleby:cols %}
    </div>
    <div class="item-row">
        {% endif %}
        {% endfor %}
    </div>
</div>
<!-- END search-item-container -->
<!-- BEGIN pagination -->
{% get_pages %}
{% if pages.paginated %}
<div class="row d-flex">
    {% show_current_number as page_number %}
    {% include 'partial/pagination.html' with pages=pages current_page_number=page_number extra=extra_args %}
</div>
{% endif %}
<!-- END pagination -->
{% endwith %}