<div id="modal-loading" class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="ts_preloading_box" id="preloader">
            <div id="ts-preloader-absolute03">
                <div class="tsperloader3"></div>
                <div class="tsperloader3"></div>
                <div class="tsperloader3"></div>
                <div class="tsperloader3"></div>
                <div class="tsperloader3"></div>
                <div class="tsperloader3"></div>
                <div class="tsperloader3"></div>
                <div class="tsperloader3"></div>
                <div class="tsperloader3"></div>
                <div class="tsperloader3"></div>
            </div>
        </div>
    </div>
</div>