{% extends "base.html" %}
{% load i18n %}
{% load static %}

{% block title %} {% trans 'Les demandes des exposants' %} {% endblock %}

{% block style %}
<link rel="stylesheet" href='{% static "js/data-table/jquery.dataTables.min.css" %}'>
<link rel="stylesheet" type="text/css"
      href="https://cdn.datatables.net/responsive/2.2.3/css/responsive.bootstrap.min.css">
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <h3 class="mb-4">{% trans 'Liste des Exposants' %}</h3>
            {% include 'partial/messages-alerts.html' %}
            {{ datatable }}
        </div>
    </div>
</div>
{% endblock %}

{% block js %}
<script type="text/javascript" charset="utf8" src='{% static "js/data-table/jquery.dataTables.min.js" %}'></script>
<script type="text/javascript" charset="utf8" src="{% static 'js/data-table/datatableview.js' %}?v=1.0"></script>
<script type="text/javascript" charset="utf8"
        src="https://cdn.datatables.net/responsive/2.2.3/js/dataTables.responsive.js"></script>
<script>
	$(function () {
		var common_options = {
		    "language": {
                {% if LANGUAGE_CODE == 'ar' %}
                "url": "https://cdn.datatables.net/plug-ins/1.10.20/i18n/Arabic.json"
                {% else %}
                "url": "https://cdn.datatables.net/plug-ins/1.10.20/i18n/French.json"
                {% endif %}
            },
            "processing": "Loading...",
             "loadingRecords": "&nbsp;",
		};
        var datatable = datatableview.initialize('.datatable', common_options);
	});




</script>
{% endblock %}
