<ul class="dropdown-menu" >
    <li class="dropdown-submenu"><a class="dropdown-item">Jour</a>
        <ul class="dropdown-menu" >
            <li class="dropdown-submenu"><a class="dropdown-item">1</a>
                {% include 'medic_poso_sub_menu.html' with pdn="par jour pendant 1" %}
            </li>
            <li class="dropdown-submenu"><a class="dropdown-item">2</a>
                {% include 'medic_poso_sub_menu.html' with pdn="par jour pendant 2" %}
            </li>
            <li class="dropdown-submenu"><a class="dropdown-item">3</a>
                {% include 'medic_poso_sub_menu.html' with pdn="par jour pendant 3" %}
            </li>
            <li class="dropdown-submenu"><a class="dropdown-item">6</a>
                {% include 'medic_poso_sub_menu.html' with pdn="par jour pendant 6" %}
            </li>
            <li class="dropdown-submenu"><a class="dropdown-item">8</a>
                {% include 'medic_poso_sub_menu.html' with pdn="par jour pendant 8" %}
            </li>
        </ul>
    </li>

    <li class="dropdown-submenu"><a class="dropdown-item">Semaine</a>
        <ul class="dropdown-menu" >
            <li class="dropdown-submenu"><a class="dropdown-item">1</a>
                {% include 'medic_poso_sub_menu.html' with pdn="par jour pendant 1" %}
            </li>
            <li class="dropdown-submenu"><a class="dropdown-item">2</a>
                {% include 'medic_poso_sub_menu.html' with pdn="par jour pendant 2" %}
            </li>
            <li class="dropdown-submenu"><a class="dropdown-item">3</a>
                {% include 'medic_poso_sub_menu.html' with pdn="par jour pendant 3" %}
            </li>
            <li class="dropdown-submenu"><a class="dropdown-item">6</a>
                {% include 'medic_poso_sub_menu.html' with pdn="par jour pendant 6" %}
            </li>
            <li class="dropdown-submenu"><a class="dropdown-item">8</a>
                {% include 'medic_poso_sub_menu.html' with pdn="par jour pendant 8" %}
            </li>
        </ul>
    </li>


    <li class="dropdown-submenu"><a class="dropdown-item">Mois</a>
        <ul class="dropdown-menu" >
            <li class="dropdown-submenu"><a class="dropdown-item">1</a>
                {% include 'medic_poso_sub_menu.html' with pdn="par jour pendant 1" %}
            </li>
            <li class="dropdown-submenu"><a class="dropdown-item">2</a>
                {% include 'medic_poso_sub_menu.html' with pdn="par jour pendant 2" %}
            </li>
            <li class="dropdown-submenu"><a class="dropdown-item">3</a>
                {% include 'medic_poso_sub_menu.html' with pdn="par jour pendant 3" %}
            </li>
            <li class="dropdown-submenu"><a class="dropdown-item">6</a>
                {% include 'medic_poso_sub_menu.html' with pdn="par jour pendant 6" %}
            </li>
            <li class="dropdown-submenu"><a class="dropdown-item">8</a>
                {% include 'medic_poso_sub_menu.html' with pdn="par jour pendant 8" %}
            </li>
        </ul>
    </li>


    <li class="dropdown-submenu"><a class="dropdown-item">Trimèstre</a>
        <ul class="dropdown-menu" >
            <li class="dropdown-submenu"><a class="dropdown-item">1</a>
                {% include 'medic_poso_sub_menu.html' with pdn="par jour pendant 1" %}
            </li>
            <li class="dropdown-submenu"><a class="dropdown-item">2</a>
                {% include 'medic_poso_sub_menu.html' with pdn="par jour pendant 2" %}
            </li>
            <li class="dropdown-submenu"><a class="dropdown-item">3</a>
                {% include 'medic_poso_sub_menu.html' with pdn="par jour pendant 3" %}
            </li>
            <li class="dropdown-submenu"><a class="dropdown-item">6</a>
                {% include 'medic_poso_sub_menu.html' with pdn="par jour pendant 6" %}
            </li>
            <li class="dropdown-submenu"><a class="dropdown-item">8</a>
                {% include 'medic_poso_sub_menu.html' with pdn="par jour pendant 8" %}
            </li>
        </ul>
    </li>
</ul>