<ul class="dropdown-menu">
    <li class="dropdown-item" onclick='addToOrdonnance(this, "{{qt}} {{frm}} {{nbr}} {{pdn}} jour", "{{pk}}")'>
        <a tabindex="-1" href="#">jour</a>
    </li>
    <li class="dropdown-item" onclick='addToOrdonnance(this, "{{qt}} {{frm}} {{nbr}} {{pdn}} semaine", "{{pk}}")'>
        <a tabindex="-1" href="#" >semaine</a>
    </li>
    <li class="dropdown-item" onclick='addToOrdonnance(this, "{{qt}} {{frm}} {{nbr}} {{pdn}} mois", "{{pk}}")'>
        <a tabindex="-1" href="#" >mois</a>
    </li>
    <li class="dropdown-item" onclick='addToOrdonnance(this, "{{qt}} {{frm}} {{nbr}} {{pdn}} trimèstre", "{{pk}}")'>
        <a tabindex="-1" href="#">trimèstre</a>
    </li>
</ul>