{% load prescription_tags %}
<ul class="dropdown-menu">
    <li class="dropdown-submenu"><a class="dropdown-item">1/2 {{forme}}</a>
        <ul class="dropdown-menu">
            <li class="dropdown-submenu"><a class="dropdown-item">1 fois </a>
                {% include 'medic_per_pendant_menu.html' with qt="1/2 " frm=forme nbr="1 fois" %}
            </li>
            <li class="dropdown-submenu"><a class="dropdown-item">2 fois</a>
                {% include 'medic_per_pendant_menu.html' with qt="1/2 " frm=forme nbr="2 fois" %}
            </li>
            <li class="dropdown-submenu"><a class="dropdown-item">3 fois</a>
                {% include 'medic_per_pendant_menu.html' with qt="1/2 " frm=forme nbr="3 fois" %}
            </li>
            <li class="dropdown-submenu"><a class="dropdown-item">4 fois</a>
                {% include 'medic_per_pendant_menu.html' with qt="1/2 " frm=forme nbr="4 fois" %}
            </li>
            <li class="dropdown-submenu"><a class="dropdown-item">5 fois</a>
                {% include 'medic_per_pendant_menu.html' with qt="1/2 " frm=forme nbr="5 fois" %}
            </li>
        </ul>
    </li>

    <li class="dropdown-submenu"><a class="dropdown-item">3/4 {{forme}}</a>
        <ul class="dropdown-menu">
            <li class="dropdown-submenu"><a class="dropdown-item">1 fois </a>
                {% include 'medic_per_pendant_menu.html' with qt="3/4 " frm=forme nbr="1 fois" %}
            </li>
            <li class="dropdown-submenu"><a class="dropdown-item">2 fois</a>
                {% include 'medic_per_pendant_menu.html' with qt="3/4 " frm=forme nbr="2 fois" %}
            </li>
            <li class="dropdown-submenu"><a class="dropdown-item">3 fois</a>
                {% include 'medic_per_pendant_menu.html' with qt="3/4 " frm=forme nbr="3 fois" %}
            </li>
            <li class="dropdown-submenu"><a class="dropdown-item">4 fois</a>
                {% include 'medic_per_pendant_menu.html' with qt="3/4 " frm=forme nbr="4 fois" %}
            </li>
            <li class="dropdown-submenu"><a class="dropdown-item">5 fois</a>
                {% include 'medic_per_pendant_menu.html' with qt="3/4 " frm=forme nbr="5 fois" %}
            </li>
        </ul>
    </li>

    <li class="dropdown-submenu"><a class="dropdown-item">1 {{forme}}</a>
        <ul class="dropdown-menu">
            <li class="dropdown-submenu"><a class="dropdown-item">1 fois </a>
                {% include 'medic_per_pendant_menu.html' with qt="1 " frm=forme nbr="1 fois" %}
            </li>
            <li class="dropdown-submenu"><a class="dropdown-item">2 fois</a>
                {% include 'medic_per_pendant_menu.html' with qt="1 " frm=forme nbr="2 fois" %}
            </li>
            <li class="dropdown-submenu"><a class="dropdown-item">3 fois</a>
                {% include 'medic_per_pendant_menu.html' with qt="1 " frm=forme nbr="3 fois" %}
            </li>
            <li class="dropdown-submenu"><a class="dropdown-item">4 fois</a>
                {% include 'medic_per_pendant_menu.html' with qt="1 " frm=forme nbr="4 fois" %}
            </li>
            <li class="dropdown-submenu"><a class="dropdown-item">5 fois</a>
                {% include 'medic_per_pendant_menu.html' with qt="1 " frm=forme nbr="5 fois" %}
            </li>
        </ul>
    </li>
    <li class="dropdown-submenu"><a class="dropdown-item">2 {{forme}}</a>
        <ul class="dropdown-menu">
            <li class="dropdown-submenu"><a class="dropdown-item">1 fois </a>
                {% include 'medic_per_pendant_menu.html' with qt="2 " frm=forme nbr="1 fois" %}
            </li>
            <li class="dropdown-submenu"><a class="dropdown-item">2 fois</a>
                {% include 'medic_per_pendant_menu.html' with qt="2 " frm=forme nbr="2 fois" %}
            </li>
            <li class="dropdown-submenu"><a class="dropdown-item">3 fois</a>
                {% include 'medic_per_pendant_menu.html' with qt="2 " frm=forme nbr="3 fois" %}
            </li>
            <li class="dropdown-submenu"><a class="dropdown-item">4 fois</a>
                {% include 'medic_per_pendant_menu.html' with qt="2 " frm=forme nbr="4 fois" %}
            </li>
            <li class="dropdown-submenu"><a class="dropdown-item">5 fois</a>
                {% include 'medic_per_pendant_menu.html' with qt="2 " frm=forme nbr="5 fois" %}
            </li>
        </ul>
    </li>
    <li class="dropdown-submenu"><a class="dropdown-item">3 {{forme}}</a>
        <ul class="dropdown-menu">
            <li class="dropdown-submenu"><a class="dropdown-item">1 fois </a>
                {% include 'medic_per_pendant_menu.html' with qt="3 " frm=forme nbr="1 fois" %}
            </li>
            <li class="dropdown-submenu"><a class="dropdown-item">2 fois</a>
                {% include 'medic_per_pendant_menu.html' with qt="3 " frm=forme nbr="2 fois" %}
            </li>
            <li class="dropdown-submenu"><a class="dropdown-item">3 fois</a>
                {% include 'medic_per_pendant_menu.html' with qt="3 " frm=forme nbr="3 fois" %}
            </li>
            <li class="dropdown-submenu"><a class="dropdown-item">4 fois</a>
                {% include 'medic_per_pendant_menu.html' with qt="3 " frm=forme nbr="4 fois" %}
            </li>
            <li class="dropdown-submenu"><a class="dropdown-item">5 fois</a>
                {% include 'medic_per_pendant_menu.html' with qt="3 " frm=forme nbr="5 fois" %}
            </li>
        </ul>
    </li>
    <li class="dropdown-submenu"><a class="dropdown-item">4 {{forme}}</a>
        <ul class="dropdown-menu">
            <li class="dropdown-submenu"><a class="dropdown-item">1 fois </a>
                {% include 'medic_per_pendant_menu.html' with qt="4 " frm=forme nbr="1 fois" %}
            </li>
            <li class="dropdown-submenu"><a class="dropdown-item">2 fois</a>
                {% include 'medic_per_pendant_menu.html' with qt="4 " frm=forme nbr="2 fois" %}
            </li>
            <li class="dropdown-submenu"><a class="dropdown-item">3 fois</a>
                {% include 'medic_per_pendant_menu.html' with qt="4 " frm=forme nbr="3 fois" %}
            </li>
            <li class="dropdown-submenu"><a class="dropdown-item">4 fois</a>
                {% include 'medic_per_pendant_menu.html' with qt="4 " frm=forme nbr="4 fois" %}
            </li>
            <li class="dropdown-submenu"><a class="dropdown-item">5 fois</a>
                {% include 'medic_per_pendant_menu.html' with qt="4 " frm=forme nbr="5 fois" %}
            </li>
        </ul>
    </li>
    <li class="dropdown-submenu"><a class="dropdown-item">5 {{forme}}</a>
        <ul class="dropdown-menu">
            <li class="dropdown-submenu"><a class="dropdown-item">1 fois </a>
                {% include 'medic_per_pendant_menu.html' with qt="5 " frm=forme nbr="1 fois" %}
            </li>
            <li class="dropdown-submenu"><a class="dropdown-item">2 fois</a>
                {% include 'medic_per_pendant_menu.html' with qt="5 " frm=forme nbr="2 fois" %}
            </li>
            <li class="dropdown-submenu"><a class="dropdown-item">3 fois</a>
                {% include 'medic_per_pendant_menu.html' with qt="5 " frm=forme nbr="3 fois" %}
            </li>
            <li class="dropdown-submenu"><a class="dropdown-item">4 fois</a>
                {% include 'medic_per_pendant_menu.html' with qt="5 " frm=forme nbr="4 fois" %}
            </li>
            <li class="dropdown-submenu"><a class="dropdown-item">5 fois</a>
                {% include 'medic_per_pendant_menu.html' with qt="5 " frm=forme nbr="5 fois" %}
            </li>
        </ul>
    </li>
</ul>