<div id="modal-loading"
	class="modal modal-edu-general default-popup-PrimaryModal fade"
	role="dialog">
	<div class="ts_preloading_box" id="preloader">
		<div id="ts-preloader-absolute03">
			<div class="tsperloader3"></div>
			<div class="tsperloader3"></div>
			<div class="tsperloader3"></div>
			<div class="tsperloader3"></div>
			<div class="tsperloader3"></div>
			<div class="tsperloader3"></div>
			<div class="tsperloader3"></div>
			<div class="tsperloader3"></div>
			<div class="tsperloader3"></div>
			<div class="tsperloader3"></div>
		</div>
	</div>
</div>