{% extends "base.html" %}
{% load i18n %}
{% load static utils_tags role_tags %}


{% block title %} {% trans 'Virtual Secretary' %} {% endblock %}

{% block style %}
<link href="{% static 'v2/plugins/superbox/superbox.min.css' %}" rel="stylesheet"/>
<link href="https://releases.transloadit.com/uppy/v2.6.0/uppy.min.css" rel="stylesheet">
<link href="{% static 'v2/plugins/gritter/css/jquery.gritter.css' %}" rel="stylesheet"/>
<style>
    #meet {
       height: 500px;
    }
</style>
{% endblock %}

{% block content %}
<div class="container">
    <h1 class="page-header">{% trans "مكتب الاستقبال الافتراضي" %}</h1>
    <!-- begin row -->
    <div class="row">
        <!-- begin col-12 -->
        <div class="col-xl-12">
            <!-- begin panel -->
            <div class="panel panel-default" data-sortable="false">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        {% trans "منصة الاستقبال" %}
                    </h4>
                </div>
                <div class="panel-body">
                    <div id="superbox-container" class="superbox " data-offset="50">
                        <div class="text-center" id="meet">
                        </div>
                    </div>

                </div>
            </div>
            <!-- end panel -->
        </div>
        <!-- end col-12 -->
    </div>
    <!-- end row -->
</div>
<!-- template -->
<div id="superbox_template" class="hide">
    <div id="superbox-list" data-id="##id##" class="superbox-list">
        <div class="superbox-img-wrap">
            <a href="#" class="superbox-remove">&times;</a>
            <a href="#" class="superbox-selected">
                <i class="fa fa-check-circle"></i>
            </a>
            <a href="javascript:;" class="superbox-img">
                <img data-img="##img##" data-id="##id##"/>
                <span style="background: url(##img##);"></span>
            </a>
        </div>
    </div>
</div>
<!-- end template -->
{% endblock %}
{% block js %}
<script src="{% static 'v2/plugins/superbox/jquery.superbox.min.js' %}"></script>
<script src="https://releases.transloadit.com/uppy/v2.6.0/uppy.min.js"></script>
<script src="https://releases.transloadit.com/uppy/locales/v2.0.6/fr_FR.min.js"></script>
<script src="https://releases.transloadit.com/uppy/locales/v2.0.6/ar_SA.min.js"></script>
<script src="{% static 'v2/plugins/gritter/js/jquery.gritter.js' %}"></script>
<script src="{% static 'v2/plugins/jquery-migrate/dist/jquery-migrate.min.js' %}"></script>
<script src='https://{% settings_value "ECONGRE_JITSI_DOMAIN_NAME" %}/external_api.js'></script>
<script>
var api = null;
const domain = "{% settings_value "ECONGRE_JITSI_DOMAIN_NAME" %}";
const options = {
    roomName: '{{clinique.salle_discussion}}'{% if jwtToken %} + '?jwt={{jwtToken}}' {% endif %} ,
    interfaceConfigOverwrite: {
        filmStripOnly: false,
        TOOLBAR_BUTTONS: [
            'microphone', 'camera', 'closedcaptions', 'desktop', 'fullscreen',
            'fodeviceselection', 'hangup', 'profile', 'chat',
            'etherpad', 'sharedvideo', 'settings', 'raisehand',
            'videoquality', 'filmstrip', 'feedback', 'stats', 'shortcuts',
            'tileview', 'download', 'help', 'mute-everyone', 'security'
        ],
    },
    configOverwrite: {
        enableWelcomePage: false,
        startAudioOnly: true,
        defaultLanguage: 'fr'
    },
    width: '100%',
    height: '100%',
    onload: function() {
        console.log("onload");
    },
    userInfo: {
        name: '{{ clinique.titre }}'
    },
    parentNode: document.querySelector('#meet')
};
function openJitsiRoom() {
    api = new JitsiMeetExternalAPI(domain, options);
    // when local user has joined the video conference
    api.addEventListener('videoConferenceJoined', (response) => {
        api.executeCommand('displayName', '{{ clinique.titre }}');
    });
    api.addEventListener('participantJoined', (response) => {
        var audio = new Audio("{% static 'sounds/joinedPatientSound.mp3' %}");
        audio.play();
    });
}

$(document).ready(function() {
    $([document.documentElement, document.body]).animate({
        scrollTop: $("#meet").offset().top
    }, 1000);
    openJitsiRoom();
});

</script>
{% endblock %}
